# Virtual Environment
venv/
.venv/

# Environment Variables
.env
.env.*

# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Build
build/
dist/
*.egg-info/